<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Rule commands start with 'rule:'. #ID# will be replaced with the SID, #NAME# with the name of the account -->
    <add key="rule:Show direct group members" value="Get-AdGroupMember -Identity &quot;#ID#&quot; | Select-Object SamAccountName, Name | Sort-Object SamAccountName, Name | Out-GridView -Title 'Direct members of group #NAME#'"/>
    <add key="rule:Show all group members" value="Get-AdGroupMember -Identity &quot;#ID#&quot; -Recursive | Select-Object SamAccountName, Name | Sort-Object SamAccountName, Name | Out-GridView -Title 'All members of group #NAME#'"/>
  </appSettings>
</configuration>