<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The command can start with powershell: pwsh: cmd: shell: or nothing -->

    <!-- Rule commands start with 'rule:'. #ID# will be replaced with the SID, #NAME# with the name of the account -->
    <add key="rule:Show direct group members" value="pwsh:Get-AdGroupMember -Identity &quot;#ID#&quot; | Select-Object SamAccountName, Name | Sort-Object SamAccountName, Name | Out-GridView -Title 'Direct members of group #NAME#'"/>
    <add key="rule:Show all group members" value="pwsh:Get-AdGroupMember -Identity &quot;#ID#&quot; -Recursive | Select-Object SamAccountName, Name | Sort-Object SamAccountName, Name | Out-GridView -Title 'All members of group #NAME#'"/>
    
    <!-- Directory commands start with 'dir:'. #PATH# will be replaced with the full path -->
    <add key="dir:Open in Explorer" value="explorer.exe &quot;#PATH#&quot;"/>
    <add key="dir:Reveal in Explorer" value="explorer.exe /select,&quot;#PATH#&quot;"/>
    <add key="dir:Show contents in PowerShell" value="powershell:Get-ChildItem &quot;#PATH#&quot; | Out-GridView"/>
    <add key="dir:Show contents in pwsh" value="pwsh:Get-ChildItem &quot;#PATH#&quot; | Out-GridView"/>
    <add key="dir:Show contents via cmd" value="cmd:dir #PATH#"/>
    <add key="dir:Show contents and open cmd" value="cmd.exe /k dir &quot;#PATH#&quot;"/>
    <add key="dir:Open directory using shell" value="shell:#PATH#" />
    <add key="dir:Open in PowerShell" value="powershell.exe"/>
    <add key="dir:Open in pwsh" value="pwsh.exe"/>
  </appSettings>
</configuration>